@import "tailwindcss";

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/peyda-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/peyda-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/iran-yekan/eot/iranyekanwebbold.eot');
    src: url('/fonts/iran-yekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('/fonts/iran-yekan/woff/iranyekanwebbold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('/fonts/iran-yekan/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/iran-yekan/eot/iranyekanwebthin.eot');
    src: url('/fonts/iran-yekan/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('/fonts/iran-yekan/woff/iranyekanwebthin.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('/fonts/iran-yekan/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/iran-yekan/eot/iranyekanweblight.eot');
    src: url('/fonts/iran-yekan/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('/fonts/iran-yekan/woff/iranyekanweblight.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('/fonts/iran-yekan/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/iran-yekan/eot/iranyekanwebregular.eot');
    src: url('/fonts/iran-yekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('/fonts/iran-yekan/woff/iranyekanwebregular.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('/fonts/iran-yekan/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/iran-yekan/eot/iranyekanwebmedium.eot');
    src: url('/fonts/iran-yekan/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('/fonts/iran-yekan/woff/iranyekanwebmedium.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('/fonts/iran-yekan/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/iran-yekan/eot/iranyekanwebextrabold.eot');
    src: url('/fonts/iran-yekan/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('/fonts/iran-yekan/woff/iranyekanwebextrabold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('/fonts/iran-yekan/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/iran-yekan/eot/iranyekanwebblack.eot');
    src: url('/fonts/iran-yekan/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('/fonts/iran-yekan/woff/iranyekanwebblack.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('/fonts/iran-yekan/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 950;
    src: url('/fonts/iran-yekan/eot/iranyekanwebextrablack.eot');
    src: url('/fonts/iran-yekan/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('/fonts/iran-yekan/woff/iranyekanwebextrablack.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('/fonts/iran-yekan/ttf/iranyekanwebextrablack.ttf') format('truetype');
}

@theme {

    --font-peyda: "Peyda", "sans-serif";
    --font-iranyekan: "iranyekan", "sans-serif";

    --color-thblack: #000000;

    --color-thwhite: #ffffff;

    --color-thgray-100: #F0F0F0;
    --color-thgray-200: #606060;

    --color-thblue: #191970;

    --color-thyellow: #ffd400;

    --color-thred: #C1272D;
    --color-thgreen: #009245;

}

@utility container {
    padding-inline: 1rem;
    margin-inline: auto;

    @variant sm {
        padding-inline: 1.5rem;
    }

    @variant lg {
        padding-inline: 1.5rem;
    }

    @variant xl {
        padding-inline: 1.5rem;
    }

    @variant 2xl {
        padding-inline: 2rem;
    }
}